# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
.env/
.venv/

# Conda
.conda/
conda-meta/

# VS Code
.vscode/

# PyCharm
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Model checkpoints
checkpoints/
*.pth
*.pt
*.onnx

# Datasets
data/

# Generated outputs
results/videos/
output_result.mp4

# Python cache
.pytest_cache/
.mypy_cache/

# Jupyter
.ipynb_checkpoints/

# Temporary files
*.tmp
*.temp

#sample videos
sample_videos_for_testing/

#results
results/

eval_results_old_v1.csv
eval_results.csv
__init__.py

debug_clip/

debug_roi/
RWF-2000-custom
debug_clip.zip
generate_custom_csv.py
test_video_custom.py
train_list_custom.csv
train_model_custom.py
val_list_custom.csv
yolo_adapter.py
